body {
    display: grid;
    align-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

main {
    display: grid;
    grid-template-columns: 20fr 80fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "summary image"
        ". credit";
    align-items: center;
    justify-items: center;
    margin: 6rem 4rem 6rem 10rem;
}

summary {
    grid-area: summary;
    transform: translateX(50%);
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    margin: 0;
    font-weight: 500;
}

img {
    grid-area: image;
    width: 100%;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

aside {
    grid-area: credit;
    transform: translateY(-65%) translateX(-60%) rotate(-40deg);
    text-align: center;
    line-height: 175%;
    font-weight: 500;
    font-size: 0.85rem;
    text-transform: uppercase;
}
