body {
    width: 100vw;
    height: 100vh;
}

.main {
    padding: 5rem 5rem 5rem 15rem;
}

.image {
    max-width: 100%;
}

.title {
    text-align: center;
}

.text {
}

.credit {
    text-align: center;
    transform: rotate(-30deg);
    position: relative;
    top: -50%;
}
